/* Footer */
footer {
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-dark);
  background-color: var(--primary-light);
}

footer #footer-cards-wrapper {
  display: none;
  padding: 2rem;
}

footer #footer-cards-wrapper a {
  color: inherit;
  display: inline-block;
  padding: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: #fff;
  text-decoration: none;
}

/* Optional: hover effect */
footer #footer-cards-wrapper a:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

body.showFooterCards footer #footer-cards-wrapper {
  display: block;
}